
/* whole page */
#container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

body{
    font-family: Arial, Helvetica;
}

#links{
    margin-top: 20px;
}

#links a{
    color: black;
}

#intro{
    /* margin: 20px 300px 20px 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

/* timer and start line */
#game-controls{
    width: 500px;
    height: 30px;
    background-color: #75597d;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#timer{
    display: contents;
}

#start{
    width: 50px;
    height: 30px;
    background-color: #d4a2be;
    border-radius: 11px;
    color: #f8e4dd;
}

#grid-container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #75597d;
    grid-gap: 5px;
    padding: 10px;
    width: 500px;
    height: 500px;
}

.image-box{
    border: 1px solid #f8e4dd;
    backface-visibility: hidden;
    overflow: hidden;
    background: #f8e4dd;
    text-align: center;
    justify-items: center;
    position: relative;
}

.image-box img{
    width: 95%;
}

.show{
    transition: opacity 400ms;
    opacity: 1;
}

.hide{
    opacity: 0;
    transition: opacity 400ms;
}

footer{
    color: gray;
    text-decoration: none;
    font-size: small;
}

footer a{
    color: lightgray;
    text-decoration: none;
}

footer a img{
        height: 18px;

}